body {
    background-color: cornflowerblue;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: light;
    text-align: center;
}

a {
    display: flex;
    margin-top: 2%;
    padding: 5px;
    border-width: 1px;
    padding: 5px;
    max-width:fit-content;
    background: #924802;
    color: #fff;
    border-style: solid;
}

.portrait img{
    height: 150px;
    margin: 20px;
    padding: 5px;
    border: 5px solid rgb(50, 61, 155);
}

main {
    display: inline-block;
}

main img {
    width: 200px;
    margin: 20px;
    padding: 5px;
    border: 5px solid rgb(50, 61, 155);
}

.woven-item img {
    height: 500px;
    margin: 20px;
    padding: 5px;
    border: 5px solid rgb(50, 61, 155);
}
