body {
    background-color: cornflowerblue;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: light;
    text-align: center;
}

a {
    float: left;
    margin-top: 2%;
    margin-left: 325px;
    padding: 10px;
    border-width: 1px;
    max-width:fit-content;
    background: #924802;
    color: #fff;
    border-style: solid;
    display: block;
}

.portrait img {
    display: block;
    float: right;
    height: 200px;
    margin: 20px;
    padding: 5px;
    border: 1px solid rgb(50, 61, 155);
}

main {
    display: inline-block;
}

div {
    max-width:fit-content;
    margin-left: 10%;
    margin-bottom: 80px;
}

p {
    float: right;
    max-width: 500px;
    font-size: 18px;
    padding: 85px;
}

main img {
    width: 200px;
    margin: 20px;
    padding: 5px;
    border: 5px solid rgb(50, 61, 155);
}

.woven-item img {
    height: 500px;
    margin: 20px;
    padding: 5px;
    border: 5px solid rgb(50, 61, 155);
}

#about-me {
    display: inline-block;
    max-width: none;
    padding: 10px;
}
